<!DOCTYPE:html>
<html>
<link href="/css/styles.css" rel="stylesheet" type="text/css" />
  <body>
    <center>
      <img src="/images/BATTLESHIP copy.png">
      <br>
    <%= yield %>
  </center>
  </body>
  </html>
